<a target="new" href="http://maps.google.com/maps?q=<%= latitude %>,<%= longitude %>">
  <div class="list-template">

    <div class="row">

      <div class="large-8 columns large-centered address">
        <h4>
            <% if (name.length > 37) { %>
              <%= name.substring(0, 37) + "..." %>
            <% } else { %>
              <%= name %>
            <% } %>
        </h4>
      </div>

      <div class="small-10 small-centered large-8 large-centered columns">
        <% if(free_bikes > 0) { %>
          <% for (var i = 0; i < free_bikes; i++) { %>
            <div class="bike free"></div>
          <% } %>
        <% } %>
      </div
      <div class="small-10 small-centered large-8 large-centered columns">
        <% if(empty_slots > 0) { %>
         <% for (var i = 0; i < empty_slots; i++) { %>
            <div class="bike empty"></div>
          <% } %>
        <% } %>
      </div>
    </div>

  </div>
</a>
