.list-template {
  font-weight: 100;
}

h4 {
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .list-template {
    h4 {
      font-weight: 300;
    }
  }
}

.list-template {
  h4 {
    font-family: Roboto;
  }
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid darken($light-grey, 10%);
  padding: 1rem;
  .title {
    position: relative;
  }
  .address {
    margin-bottom: .65rem;
  }

}
