.list-template {
  font-weight: 100;
}

h4 {
  font-weight: 200;
}

// @media screen and (min-width:768px) {
//   .list-template {
//     &:hover {
//       background-color: #a0d3e8;
//       border-color: #a0d3e8;
//       h4 {
//         color: white;
//       }
//       .display.free, .display.empty {
//         color: white;
//       }
//     }
//   }
// }

@media screen and (max-width: 768px) {
  .list-template {
    h4 {
      font-weight: 300;
    }
  }
}

.list-template {
  h4 {
    font-family: Roboto;
  }
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid darken($light-grey, 10%);
  padding: 1rem;
  .title {
    position: relative;
  }
  .address {
    margin-bottom: .65rem;
  }
  .bike {
    display: inline-block;
    margin: 0 auto;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    &.free {
      background-color: $dark-grey;
    }
    &.empty {
      border: 1px solid darken($light-grey, 10%);
    }
  }
}
